In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df_weather = pd.read_csv('weather_final.csv')
df_spray = pd.read_csv('sprays_traps_laps.csv')
df_train = pd.read_csv('train2.csv')
df_test = pd.read_csv('test2.csv')

In [3]:
df_weather.head(1)

,Unnamed: 0,Station,Date,PCAw_1,PCAw_2,PCAw_3,PCAw_4,PCAw_5
0,0,1,2007-05-01,-0.057721,0.533772,1.567441,-1.061174,-0.773029

In [4]:
df_spray.head(1)

,Date,T001,T002,T003,T004,T005,T006,T007,T008,T009,...,T230,T231,T232,T233,T235,T236,T237,T238,T900,T903
0,2011-08-29,900,900,900,900,900,900,900,900,900,...,900,900,900,900,900,900,900,900,900,900

In [5]:
df_train.head(1)

,Unnamed: 0,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,weather_station
0,0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,1

In [6]:
df_test.head(1)

,Unnamed: 0,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,weather_station
0,0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1

In [7]:
df_train.drop('Unnamed: 0', axis=1, inplace=True)
df_test.drop(['Unnamed: 0', 'Id'], axis=1, inplace=True)

In [8]:
df_train.set_index('Date', inplace=True)
df_train.index = pd.to_datetime(df_train.index)
df_train.sort_index(inplace=True)
df_train.head(1)

,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,weather_station
Date,,,,,,,,,,,,
2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,1

In [9]:
df_test.set_index('Date', inplace=True)
df_test.index = pd.to_datetime(df_test.index)
df_test.sort_index(inplace=True)
df_test.head(1)

,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,weather_station
Date,,,,,,,,,,
2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1

In [10]:
y = df_train['WnvPresent']

In [11]:
df_train.drop('WnvPresent', axis=1, inplace=True)

In [12]:
# drop redundant lines

cols = ['Address', 'Block', 'Street', 'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy']
df_train.drop(cols, axis=1, inplace=True)
df_test.drop(cols, axis=1, inplace=True)

In [13]:
train_dummy = pd.get_dummies(df_train['Species'], drop_first=True)
test_dummy = pd.get_dummies(df_test['Species'], drop_first=True)

In [14]:
df_train2 = pd.concat([df_train, train_dummy], axis=1)
df_test2 = pd.concat([df_test, test_dummy], axis=1)

In [15]:
df_train2.drop('Species', axis=1, inplace=True)
df_test2.drop('Species', axis=1, inplace=True)

In [16]:
df_train2.head(1)

,Trap,NumMosquitos,weather_station,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS
Date,,,,,,,,,
2007-05-29,T002,1,1,0.0,1.0,0.0,0.0,0.0,0.0

In [17]:
# merge spray data

df_spray.set_index('Date', inplace=True)
df_spray.index = pd.to_datetime(df_spray.index)
df_spray.sort_index(inplace=True)
df_spray.head(1)

,T001,T002,T003,T004,T005,T006,T007,T008,T009,T011,...,T230,T231,T232,T233,T235,T236,T237,T238,T900,T903
Date,,,,,,,,,,,,,,,,,,,,,
2011-08-29,900,900,900,900,900,900,900,900,900,900,...,900,900,900,900,900,900,900,900,900,900

In [18]:
date_spray=[x.replace(hour=0,minute=0,second=0,microsecond=0) for x in df_spray.index.tolist()]


def merge_spray(row):
    column_name = row[0]
    date_column = row.name
    date_column=date_column.replace(hour=0,minute=0,second=0,microsecond=0)
    if date_column in date_spray:
        index_row=date_spray.index(date_column)
        index_col=df_spray.columns.tolist().index(column_name)
        result = df_spray.iloc[index_row,index_col]
    else:
        result = 1000
    
    return result

In [19]:
df_train2['spray'] = df_train2.apply(merge_spray, axis=1)

In [20]:
test_trap_unique=list(df_test2.Trap.unique())
train_trap_unique=list(df_train2.Trap.unique())
not_in_train=[]

for item in test_trap_unique:
    if item not in train_trap_unique:
        not_in_train.append(item)

df_test2.loc[df_test2.Trap.isin(not_in_train),"Trap"]=df_test2.loc[df_test2.Trap.isin(not_in_train),"Trap"].apply(lambda x: x[:4])
df_test2.loc[df_test2.Trap=="T234","Trap"]="T235"

In [21]:
df_test2['spray'] = df_test2.apply(merge_spray, axis=1)

In [22]:
#merge weather

df_weather.set_index('Date', inplace=True)
df_weather.index = pd.to_datetime(df_weather.index)
df_weather.sort_index(inplace=True)
df_weather.head(1)

df_weather.head()

,Unnamed: 0,Station,PCAw_1,PCAw_2,PCAw_3,PCAw_4,PCAw_5
Date,,,,,,,
2007-05-01,0,1,-0.057721,0.533772,1.567441,-1.061174,-0.773029
2007-05-01,1,2,-0.205414,0.418893,1.068407,-0.873617,-0.634203
2007-05-02,2,1,4.006804,0.841067,-1.672665,1.283971,-0.160402
2007-05-02,3,2,3.888912,0.657485,-1.902866,1.466794,-0.156672
2007-05-03,4,1,3.166913,0.250539,-1.528977,0.957092,-0.130787

In [23]:
del df_weather["Unnamed: 0"]

In [24]:
df_train2.head()

,Trap,NumMosquitos,weather_station,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS,spray
Date,,,,,,,,,,
2007-05-29,T002,1,1,0.0,1.0,0.0,0.0,0.0,0.0,1000
2007-05-29,T002,1,1,0.0,0.0,1.0,0.0,0.0,0.0,1000
2007-05-29,T007,1,1,0.0,0.0,1.0,0.0,0.0,0.0,1000
2007-05-29,T015,1,1,0.0,1.0,0.0,0.0,0.0,0.0,1000
2007-05-29,T015,4,1,0.0,0.0,1.0,0.0,0.0,0.0,1000

In [25]:
#merging weather data

date_weather=[x.replace(hour=0,minute=0,second=0,microsecond=0) for x in df_weather.index.tolist()]

def merge_weather(row):
    station_name = row[2]
    date_column = row.name
    date_column=date_column.replace(hour=0,minute=0,second=0,microsecond=0)
    if date_column in date_weather:
        index_row=date_weather.index(date_column)
        index_col=col_index
        if station_name==2:
            index_row=index_row+1
        result = df_weather.iloc[index_row,index_col]

    return result

for col_index in range(1,6):
    df_train2["PCAw"+str(col_index)]=df_train2.apply(merge_weather,axis=1)

In [26]:
df_train2.to_csv('train3.csv')

In [33]:
def merge_weather2(row):
    station_name = row[1]
    date_column = row.name
    date_column=date_column.replace(hour=0,minute=0,second=0,microsecond=0)
    if date_column in date_weather:
        index_row=date_weather.index(date_column)
        index_col=col_index
        if station_name==2:
            index_row=index_row+1
        result = df_weather.iloc[index_row,index_col]

    return result

In [34]:
for col_index in range(1,6):
    df_test2["PCAw"+str(col_index)]=df_test2.apply(merge_weather2,axis=1)

KeyboardInterrupt:

In [35]:
df_test2

,Trap,weather_station,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS,UNSPECIFIED CULEX,spray,PCAw1,PCAw2,PCAw3
Date,,,,,,,,,,,,,
2008-06-11,T002,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1000,-1.243057,0.222085,-0.979018
2008-06-11,T002,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1000,-1.243057,0.222085,-0.979018
2008-06-11,T002,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1000,-1.243057,0.222085,-0.979018
2008-06-11,T002,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1000,-1.243057,0.222085,-0.979018
2008-06-11,T002,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1000,-1.243057,0.222085,-0.979018
2008-06-11,T002,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1000,-1.243057,0.222085,-0.979018
2008-06-11,T002,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1000,-1.243057,0.222085,-0.979018
2008-06-11,T002,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000,-1.243057,0.222085,-0.979018
2008-06-11,T007,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1000,-1.243057,0.222085,-0.979018
2008-06-11,T007,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1000,-1.243057,0.222085,-0.979018
2008-06-11,T007,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1000,-1.243057,0.222085,-0.979018
2008-06-11,T007,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1000,-1.243057,0.222085,-0.979018
2008-06-11,T007,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1000,-1.243057,0.222085,-0.979018
2008-06-11,T007,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1000,-1.243057,0.222085,-0.979018
2008-06-11,T007,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1000,-1.243057,0.222085,-0.979018
2008-06-11,T007,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000,-1.243057,0.222085,-0.979018
2008-06-11,T015,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1000,-1.243057,0.222085,-0.979018
2008-06-11,T015,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1000,-1.243057,0.222085,-0.979018
2008-06-11,T015,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1000,-1.243057,0.222085,-0.979018
2008-06-11,T015,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1000,-1.243057,0.222085,-0.979018
2008-06-11,T015,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1000,-1.243057,0.222085,-0.979018
2008-06-11,T015,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1000,-1.243057,0.222085,-0.979018
2008-06-11,T015,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1000,-1.243057,0.222085,-0.979018
2008-06-11,T015,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000,-1.243057,0.222085,-0.979018
2008-06-11,T045,2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1000,-1.529760,0.209032,-1.350221
2008-06-11,T045,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1000,-1.529760,0.209032,-1.350221
2008-06-11,T045,2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1000,-1.529760,0.209032,-1.350221
2008-06-11,T045,2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1000,-1.529760,0.209032,-1.350221
2008-06-11,T045,2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1000,-1.529760,0.209032,-1.350221
2008-06-11,T045,2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1000,-1.529760,0.209032,-1.350221
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-10-02,T238,2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T238,2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T238,2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T238,2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T238,2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T238,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T065,2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T065,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T065,2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T065,2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T065,2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T065,2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T065,2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T065,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T094B,2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T094B,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T094B,2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T094B,2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T094B,2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T094B,2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T094B,2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T094B,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T054C,2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T054C,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T054C,2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T054C,2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T054C,2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T054C,2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T054C,2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1000,-1.600576,1.244231,1.365950
2014-10-02,T054C,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000,-1.600576,1.244231,1.365950