# Problem Statement

__The intention of the project is to analyze weather data and GIS data and predicting whether or not West Nile virus is present, for a given time, location, and species.__

* Dataset: mosquito trap results, weather data, spray operations
* Initial features: date, location, species, distance from spray, time elapsed since the last spray, distance from weather station, weather conditions at closest station
* Target: boolean variable of infectious mosquitos present
* Success criteria: finish :)

In [76]:
import pandas as pd
from geopy.distance import vincenty
import numpy as np
import datetime as dt

In [123]:
df_train = pd.read_csv('west_nile/input/train.csv')
df_test = pd.read_csv('west_nile/input/test.csv')

In [124]:
df_train.head(1)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0

In [125]:
# assigning closest station
station_1 = [41.995, -87.933]
station_2 = [41.786, -87.752]

In [133]:
def weather_station(row):
    location = [row[8], row[9]]
    if vincenty(location, station_1).miles > vincenty(location, station_2).miles:
        return 2
    else:
        return 1

In [132]:
df_train.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,weather_station
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,1
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,1
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0,1
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0,1
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0,1

In [127]:
df_train['weather_station'] = df_train.apply(weather_station, axis=1)

In [134]:
df_test['weather_station'] = df_test.apply(weather_station, axis=1)

In [9]:
# sprays
df_sprays = pd.read_csv('west_nile/input/spray.csv')
df_sprays.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [10]:
groupped_traps = df_train.groupby(['Trap'])['Latitude', 'Longitude'].mean()

In [11]:
groupped_traps.head(3)

       Latitude  Longitude
Trap
T001  41.953705 -87.733974
T002  41.954690 -87.800991
T003  41.964242 -87.757639

### assigning sprays to traps

trap_list = groupped_traps.index.tolist()

def spray_distance(row):
    spray_loc = [row[2], row[3]]
    trap_loc = [trap_lat, trap_lon]
    y = vincenty(spray_loc, trap_loc).miles
    if y < 0.5:
        return 1
    else:
        return 0

for x in trap_list:
    trap_lat = groupped_traps['Latitude'][x]
    trap_lon = groupped_traps['Longitude'][x]
    df_sprays[x] = df_sprays.apply(spray_distance, axis=1)
    
df_sprays.to_csv('sprays_traps.csv')

In [44]:
df_spraytrap = pd.read_csv('sprays_traps.csv')

In [45]:
df_train.head(1)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,weather_station
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,1

In [46]:
df_spraytrap.drop('Unnamed: 0', axis=1, inplace=True)

In [47]:
df_spraytrap.head(1)

,Date,Time,Latitude,Longitude,T001,T002,T003,T004,T005,T006,...,T230,T231,T232,T233,T235,T236,T237,T238,T900,T903
0,2011-08-29,6:56:58 PM,42.391623,-88.089163,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
df_spraytrap.set_index('Date', inplace=True)

In [49]:
df_spraytrap.index = pd.to_datetime(df_spraytrap.index)

In [50]:
df_spraytrap.sort_index(inplace=True, ascending=True)
df_spraytrap.head(2)

,Time,Latitude,Longitude,T001,T002,T003,T004,T005,T006,T007,...,T230,T231,T232,T233,T235,T236,T237,T238,T900,T903
Date,,,,,,,,,,,,,,,,,,,,,
2011-08-29,6:56:58 PM,42.391623,-88.089163,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011-08-29,6:57:08 PM,42.391348,-88.089163,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
df_spraytrap.drop(['Time', 'Latitude', 'Longitude'], axis=1, inplace=True)

In [52]:
#data[column].resample('W').median() #weekly median (else: D, M, A)

df_spraytrap = df_spraytrap.resample('D').max()

In [53]:
df_spraytrap.replace(np.nan, 0, inplace=True)

In [111]:
# calculating the lap between the spray date

trap_list = groupped_traps.index.tolist()

def lap_spray(row):
    date_spray=df_spraytrap.loc[df_spraytrap[x]==1,:].index.tolist()
    date_i=row.name
    lap=dt.timedelta(days=900).days + (date_i-df_spraytrap.head(1).index.tolist()[0]).days
    for item in date_spray:
        if date_i < item:
            pass
        else:
            lap=(date_i-item).days
    return lap

for x in trap_list:
    df_spraytrap[x] = df_spraytrap.apply(lap_spray, axis=1)
    
df_spraytrap.to_csv('sprays_traps_laps.csv')

In [114]:
df_spraytrap

,T001,T002,T003,T004,T005,T006,T007,T008,T009,T011,...,T230,T231,T232,T233,T235,T236,T237,T238,T900,T903
Date,,,,,,,,,,,,,,,,,,,,,
2011-08-29,900,900,900,900,900,900,900,900,900,900,...,900,900,900,900,900,900,900,900,900,900
2011-08-30,901,901,901,901,901,901,901,901,901,901,...,901,901,901,901,901,901,901,901,901,901
2011-08-31,902,902,902,902,902,902,902,902,902,902,...,902,902,902,902,902,902,902,902,902,902
2011-09-01,903,903,903,903,903,903,903,903,903,903,...,903,903,903,903,903,903,903,903,903,903
2011-09-02,904,904,904,904,904,904,904,904,904,904,...,904,904,904,904,904,904,904,904,904,904
2011-09-03,905,905,905,905,905,905,905,905,905,905,...,905,905,905,905,905,905,905,905,905,905
2011-09-04,906,906,906,906,906,906,906,906,906,906,...,906,906,906,906,906,906,906,906,906,906
2011-09-05,907,907,907,907,907,907,907,907,907,907,...,907,907,907,907,907,907,907,907,907,907
2011-09-06,908,908,908,908,908,908,908,908,908,908,...,908,908,908,908,908,908,908,908,908,908
2011-09-07,909,909,909,909,909,0,909,909,909,909,...,909,909,909,909,909,909,909,909,909,909
2011-09-08,910,910,910,910,910,1,910,910,910,910,...,910,910,910,910,910,910,910,910,910,910
2011-09-09,911,911,911,911,911,2,911,911,911,911,...,911,911,911,911,911,911,911,911,911,911
2011-09-10,912,912,912,912,912,3,912,912,912,912,...,912,912,912,912,912,912,912,912,912,912
2011-09-11,913,913,913,913,913,4,913,913,913,913,...,913,913,913,913,913,913,913,913,913,913
2011-09-12,914,914,914,914,914,5,914,914,914,914,...,914,914,914,914,914,914,914,914,914,914
2011-09-13,915,915,915,915,915,6,915,915,915,915,...,915,915,915,915,915,915,915,915,915,915
2011-09-14,916,916,916,916,916,7,916,916,916,916,...,916,916,916,916,916,916,916,916,916,916
2011-09-15,917,917,917,917,917,8,917,917,917,917,...,917,917,917,917,917,917,917,917,917,917
2011-09-16,918,918,918,918,918,9,918,918,918,918,...,918,918,918,918,918,918,918,918,918,918
2011-09-17,919,919,919,919,919,10,919,919,919,919,...,919,919,919,919,919,919,919,919,919,919
2011-09-18,920,920,920,920,920,11,920,920,920,920,...,920,920,920,920,920,920,920,920,920,920
2011-09-19,921,921,921,921,921,12,921,921,921,921,...,921,921,921,921,921,921,921,921,921,921
2011-09-20,922,922,922,922,922,13,922,922,922,922,...,922,922,922,922,922,922,922,922,922,922
2011-09-21,923,923,923,923,923,14,923,923,923,923,...,923,923,923,923,923,923,923,923,923,923
2011-09-22,924,924,924,924,924,15,924,924,924,924,...,924,924,924,924,924,924,924,924,924,924
2011-09-23,925,925,925,925,925,16,925,925,925,925,...,925,925,925,925,925,925,925,925,925,925
2011-09-24,926,926,926,926,926,17,926,926,926,926,...,926,926,926,926,926,926,926,926,926,926
2011-09-25,927,927,927,927,927,18,927,927,927,927,...,927,927,927,927,927,927,927,927,927,927
2011-09-26,928,928,928,928,928,19,928,928,928,928,...,928,928,928,928,928,928,928,928,928,928
2011-09-27,929,929,929,929,929,20,929,929,929,929,...,929,929,929,929,929,929,929,929,929,929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-08-07,13,1609,1609,13,1609,700,21,21,1609,1609,...,1609,1609,1609,1609,1609,21,1609,1609,1609,1609
2013-08-08,14,1610,1610,14,1610,701,22,22,1610,1610,...,1610,1610,1610,1610,1610,22,1610,1610,1610,1610
2013-08-09,15,1611,1611,15,1611,702,23,23,1611,1611,...,1611,1611,1611,1611,1611,23,1611,1611,1611,1611
2013-08-10,16,1612,1612,16,1612,703,24,24,1612,1612,...,1612,1612,1612,1612,1612,24,1612,1612,1612,1612
2013-08-11,17,1613,1613,17,1613,704,25,25,1613,1613,...,1613,1613,1613,1613,1613,25,1613,1613,1613,1613
2013-08-12,18,1614,1614,18,1614,705,26,26,1614,1614,...,1614,1614,1614,1614,1614,26,1614,1614,1614,1614
2013-08-13,19,1615,1615,19,1615,706,27,27,1615,1615,...,1615,1615,1615,1615,1615,27,1615,1615,1615,1615
2013-08-14,20,1616,1616,20,1616,707,28,28,1616,1616,...,1616,1616,1616,1616,1616,28,1616,1616,1616,1616
2013-08-15,21,0,1617,21,0,708,29,29,1617,1617,...,0,1617,1617,1617,1617,29,1617,1617,1617,1617
2013-08-16,22,1,1618,22,1,709,30,30,1618,1618,...,1,1618,1618,1618,1618,30,1618,1618,1618,1618
2013-08-17,23,2,1619,23,2,710,31,31,1619,1619,...,2,1619,1619,1619,1619,31,1619,1619,1619,1619
2013-08-18,24,3,1620,24,3,711,32,32,1620,1620,...,3,1620,1620,1620,1620,32,1620,1620,1620,1620
2013-08-19,25,4,1621,25,4,712,33,33,1621,1621,...,4,1621,1621,1621,1621,33,1621,1621,1621,1621
2013-08-20,26,5,1622,26,5,713,34,34,1622,1622,...,5,1622,1622,1622,1622,34,1622,1622,1622,1622
2013-08-21,27,6,1623,27,6,714,35,35,1623,1623,...,6,1623,1623,1623,1623,35,1623,1623,1623,1623
2013-08-22,28,7,1624,28,7,715,36,36,1624,1624,...,7,1624,1624,1624,1624,36,1624,1624,1624,1624
2013-08-23,29,8,1625,29,8,716,37,37,1625,1625,...,8,1625,1625,1625,1625,37,1625,1625,1625,1625
2013-08-24,30,9,1626,30,9,717,38,38,1626,1626,...,9,1626,1626,1626,1626,38,1626,1626,1626,1626
2013-08-25,31,10,1627,31,10,718,39,39,1627,1627,...,10,1627,1627,1627,1627,39,1627,1627,1627,1627
2013-08-26,32,11,1628,32,11,719,40,40,1628,1628,...,11,1628,1628,1628,1628,40,1628,1628,1628,1628
2013-08-27,33,12,1629,33,12,720,41,41,1629,1629,...,12,1629,1629,1629,1629,41,1629,1629,1629,1629
2013-08-28,34,13,1630,34,13,721,42,42,1630,1630,...,13,1630,1630,1630,1630,42,1630,1630,1630,1630
2013-08-29,35,14,1631,35,14,722,43,43,1631,1631,...,14,0,1631,1631,1631,43,1631,0,1631,1631
2013-08-30,36,15,1632,36,15,723,44,44,1632,1632,...,15,1,1632,1632,1632,44,1632,1,1632,1632
2013-08-31,37,16,1633,37,16,724,45,45,1633,1633,...,16,2,1633,1633,1633,45,1633,2,1633,1633
2013-09-01,38,17,1634,38,17,725,46,46,1634,1634,...,17,3,1634,1634,1634,46,1634,3,1634,1634
2013-09-02,39,18,1635,39,18,726,47,47,1635,1635,...,18,4,1635,1635,1635,47,1635,4,1635,1635
2013-09-03,40,19,1636,40,19,727,48,48,1636,1636,...,19,5,1636,1636,1636,48,1636,5,1636,1636
2013-09-04,41,20,1637,41,20,728,49,49,1637,1637,...,20,6,1637,1637,1637,49,1637,6,1637,1637
2013-09-05,42,21,1638,42,21,729,50,50,1638,1638,...,21,7,1638,0,1638,50,1638,7,1638,1638

In [115]:
df_weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [135]:
df_train.to_csv('train2.csv')

In [136]:
df_test.to_csv('test2.csv')